.container {
    color: black;
    background-color: burlywood;
    float: left;
    margin: auto;
    line-height: 50px;
    margin-bottom: auto;
}

.col-2 {
    color: red;
    background-color: white;
    margin-right: auto;
    line-break: auto;

}